@import '../../assets/scss/base';

.success-container {
    display: flex;
    justify-content: center;
    align-items: center;

    @include query('mobile', 'min') {
        padding: 112px 24px;
        flex-direction: column-reverse;
    }
    @include query('tablet', 'min') {
        padding: 128px 80px;
        flex-direction: row;
    }
    @include query('desktop', 'min') {
        padding: 186px 395px;
    }
  

    .text-container {
        .title {
            color: $primary;
            @include query('mobile', 'min') {
                font-size: 36px;
            }
            @include query('tablet', 'min') {
                font-size: 50px;
                line-height: 60px;
            }
            @include query('desktop', 'min') {
                font-size: 72px;
            }
        }   
        .description {
            color: $secondary;
            margin-top: 8px;
            @include query('mobile', 'min') {
                font-size: 16px;
                line-height: 24px;
            }
            @include query('tablet', 'min') {
                font-size: 20px;
                line-height: 32px;
                margin-top: 16px;
            }
        }
        @include query('mobile', 'min') {
            text-align: center;
            margin-top: 32px;
        }
        @include query('tablet', 'min') {
            max-width: 355px;
            text-align: left;
            margin-right: 64px;
        }
    }
}