.font-pptelegraph_r {
	font-family: 'pptelegraph_r', sans-serif;
}

.font-pptelegraph_ul {
font-family: 'pptelegraph_ul', sans-serif;
}

.font-pptelegraph_ub {
font-family: 'pptelegraph_ub', sans-serif;
}