@import '@/styles/base';

.overflow-x-hidden {
    @include overflow-x('hidden');
}
.hero-container {
    background-color: $on-primary;
    @include query('mobile', 'min') {
        padding: 112px 24px;
    }
    @include query('tablet', 'min') {
        @include grid-col(2, 32px);
        padding: 128px 80px;
    }
    @include query('desktop', 'min') {
        padding: 186px 395px;
    }
    .title {
        color: $primary;
        @include query('mobile', 'min') {
            font-size: 36px;
        }
        @include query('tablet', 'min') {
            font-size: 50px;
            line-height: 60px;
        }
        @include query('desktop', 'min') {
            line-height: 80px;
            font-size: 72px;
        }
    }
    .description {
        color: $secondary;
        @include query('mobile', 'min') {
            margin: 12px 0;
            font-size: 16px;
            line-height: 24px;
        }
        @include query('tablet', 'min') {
            font-size: 20px;
            line-height: 32px;
            margin-top: 16px;
        }
        @include query('desktop', 'min') {
            max-width: 308px;
        }
    }
}
.resource-container {
    background-color: $secondary-action;
    @include query('tablet', 'max') {
        padding: 80px 24px;
    }
    @include query('tablet', 'min') {
        padding: 128px 80px;
    }
    @include query('desktop', 'min') {
        padding: 128px 395px;
    }
    .container {
        max-width: 395px;
        .heading {
            color: $primary;
            @include query('mobile', 'min') {
                font-size: 30px;
                line-height: 48px;
            }
            @include query('tablet', 'min') {
                font-size: 50px;
                line-height: 64px;
            }
            @include query('desktop', 'min') {
                font-size: 56px;
            }
        }
        .description {
            color: $secondary;
            line-height: 24px;
            @include query('mobile', 'min') {
                font-size: 14px;
                margin-top: 8px;
            }
            @include query('tablet', 'min') {
                font-size: 16px;
                margin-top: 12px;
            }
        }
    }
}
.card-container {
    margin-top: 40px;
    display: grid;
    gap: 16px;
    @include query('tablet', 'min') {
        margin-top: 80px;
        grid-auto-flow: column;
    }
}