@import '../../assets//scss/base';

$breakpoints: (
	'mobile': 480px,
	'tablet': 768px,
	'desktop': 1024px
);

.navbar {
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 20;
    background-color: $on-primary;

    @include query('desktop', 'max') {
        padding: 4px 0px;
    }
    @include query('desktop', 'min') {
        padding: 1.25rem 4rem;
    }
    
    &-scrolled {
        border-bottom: 1px solid $tertiary-highlight
    }
    // class="flex justify-between items-center lg:px-0 md:px-6 px-4"
    .container {
        padding: 0px 16px;
        @include query('tablet', 'min') {
            padding: 0px 24px;
        }
        @include query('desktop', 'min') {
            padding: 0px 24px;
        }
    }
}
.logoContainer {
    display: flex;
    align-items: center;
    @include space-x(8px);
}
.navlinks {
	@media (min-width: 1024px) {
        @include flex(center, center);
    }
    @include space-x(28px);

	@media (max-width: 768px) {
        display: none;
    }
    a {
        font-weight: 500;
        font-size: 14px;
        cursor: pointer;
        color: $label;
        &:hover {
            color: $subdued;
        }
    }
}
.navBtn {
    @include flex(center, center);
    @include query('desktop', 'min') {
        @include flex;
    }
    @include query('tablet', 'max') {
        display: none;
    }
    @include space-x(12px);
}
.hamburger {
    @include query('tablet', 'max') {
        display: flex; 
    }

    @include query('desktop', 'min') {
        display: none; 
    }
}