/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
:root {
  padding: 0;
  margin: 0;
  height: 100vh;
}
body{
  margin: 0;
}
@font-face {
  font-family: 'pptelegraph_r';
  src: local('pptelegraph-regular'), url('./assets/fonts/PPTelegraf-Regular.otf') format('opentype');
  font-display: swap; 
}
@font-face {
  font-family: 'pptelegraph_ul';
  src: local('pptelegraph-ultralight'), url('./assets/fonts/PPTelegraf-UltraLight.otf') format('opentype');
  font-display: swap; 
}
@font-face {
  font-family: 'pptelegraph_ub';
  src: local('pptelegraph-ultrabold'), url('./assets/fonts/PPTelegraf-UltraBold.otf') format('opentype');
  font-display: swap; 
}

/* styles.css */
.rotate {
  animation: spin 1s linear infinite;
  transform-origin: center;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.input-container>label,
.input-container>input:not([value=""])~label
{
	position: absolute;
	left: 16px;
	font-size: 13px;
	top: 18px;
	transition: .2s;
}

.input-container>input:focus~label,
.input-container>input:not(:placeholder-shown)~label
{
	left: 16px;
	top: 8px;
	font-size: 10px;
}

.cc-input:active, 
.cc-input:focus {
    border: 1.5px solid #824FE7;
    box-shadow: 0px 0px 0px 4px rgba(137, 87, 239, 0.2);
    background-color: #FEFEFF;
}
.cc-input-error {
    border: 1.5px solid #FF401E;
    box-shadow: 0px 0px 0px 4px #FF401E3D;
    background-color: #FEFEFF;
}
.cc-input:disabled {
    background-color: #E6E6E7;
}

.stagger__in--3 {
  position: relative;
  animation: fade-in-from-top 1s 0.6s both cubic-bezier(0.34, 1.56, 0.64, 1);
  animation-fill-mode: backwards;
}